dash==2.7.0
dash_bootstrap_components==1.2.1
diskcache==5.4.0
folium==0.13.0
geopandas==0.12.1
ipython==8.7.0
json_normalize==1.0.0
matplotlib==3.6.2
numpy==1.23.4
pandas==1.5.1
plotly==5.11.0
pyarrow==10.0.1
PyYAML==6.0
SQLAlchemy==1.4.43
~atplotlib==3.6.2
